{
  "root": true,
  "extends": ["plugin:@shopify/typescript", "plugin:@shopify/prettier"],
  "rules": {
    "import/order": [0],
    "@typescript-eslint/consistent-type-definitions": [2, "type"],
    "@typescript-eslint/consistent-indexed-object-style": [2, "record"]
  }
}
